*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body,
html{
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #393E46, #00ADB5, #EEEEEE);
    display: flex;
    justify-content: center;
    align-items: center;
}

div{
    width: 21vw;
    height: 42vh;
    /* border: 2px solid white;
    border-radius: 40px; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

h1{
    font-family: "Love Light", cursive;
    font-size: 5.5em;
    font-weight: 400;
    font-style: normal;
    color: white;
    border: none;
    cursor: default;
}
h1:hover{
    text-shadow: 1px 1px 11px #000;
}

button{
    padding: 8px 20px 5px 20px;
    font-size: 1.3em;
    border: 2px solid #028d95;
    border-radius: 30px;
    cursor: pointer;
    font-family: "Newsreader", serif;
}

button:active{
    box-shadow: 0px 0px 7px #A3FFD6;
}

span{
    color: #393E46;
    text-decoration: underline;
    font-family: "Newsreader", serif;
}